body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(50, 48, 48);
}

.container{
  width: 350px;
  height: 500px;
  border: 1px solid gray;
  border-radius: 4px;
  padding:10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: whitesmoke;
}

.answer-list{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-inline: auto;
  gap: 5px;
  width: 100%;
}

.answer{
  width: 100%;
}

.chat-bubble{
  background: #41B6E6;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: .5rem;
  margin-inline: 1rem;
  max-width: 80%;
  width: auto;
}

.row{
  display: flex;
  padding-left: 0 !important;
}

.row-reverse{
  display: flex;
  flex-direction: row-reverse;
  padding-right: 0 !important;
}

 /*Button*/
.css-sghohy-MuiButtonBase-root-MuiButton-root{ 
  border-color: orange;
  color: orange;
  font-weight: 600;
  background-color: #fff;
  outline: 1px solid #FFB549;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root:hover{
  background-color: orange;
  color: #fff;
}

/*Chats*/
.css-h4y409-MuiList-root{ 
  overflow: auto;
}