body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 350px;
  height: 500px;
  border: 1px solid gray;
  border-radius: 4px;
  padding:10px;
}

.answer-list{
  height: 430px;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.answer{
  width: 100%;
}

.chat-bubble{
  background: #41B6E6;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: .5rem;
  margin-inline: 1rem;
  max-width: 80%;
  width: auto;
}

.row{
  display: flex;
  padding-left: 0 !important;
}

.row-reverse{
  display: flex;
  flex-direction: row-reverse;
  /* justify-content: flex-end; */
  padding-right: 0 !important;
}